<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devbook Login</title>
    <link rel="stylesheet" href="/assets/css/login.css" type="text/css">
</head>

<body>
    {{ template "cabecalho"}}
    <div class="container-login">
        <div>
            <form action="submit" class="devbook-form" id="formulario-cadastro">
                <span>Crie sua conta!</span>
                <div>
                    <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required>
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite seu email" required>
                </div>
                <div>
                    <input type="text" name="nick" id="nick" placeholder="Digite seu nick" required>
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                </div>                <div>
                    <input type="password" name="confirmar-senha" id="confirmar-senha" placeholder="Confirme sua senha" required>
                </div>
                <a href="/login">Voltar para o login</a>
                <button class="btn-devbook" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
    {{template "rodape" }}
    {{ template "scripts"}}
</body>

</html>