<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devbook Login</title>
    <link rel="stylesheet" href="/assets/css/login.css" type="text/css">
</head>
<body>
    <div class="container-login">
        <div>
            <form action="submit" class="devbook-form">
                <span>Bem vindo!</span>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite seu email" required>
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
                </div>
                <a  href="/criar-usuario">Novo por aqui? Cadastre-se</a>
                <button class="btn-devbook" type="submit">Login</button>
            </form>
        </div>
    </div>
    <script src="/assets/js/lquery.js"></script>
    <script src="/assets/js/login.js"></script>
</body>
</html>